USE [master]
GO
/****** Object:  Database [DbApsara]    Script Date: 3/23/2022 6:24:39 PM ******/
CREATE DATABASE [DbApsara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbApsara', FILENAME = N'D:\databases\DbApsara.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbApsara_log', FILENAME = N'D:\databases\DbApsara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbApsara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbApsara]
GO
/****** Object:  User [user_apsara]    Script Date: 3/23/2022 6:24:39 PM ******/
CREATE USER [user_apsara] FOR LOGIN [user_apsara] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [sabackup]    Script Date: 3/23/2022 6:24:39 PM ******/
CREATE USER [sabackup] FOR LOGIN [sabackup] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_apsara]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/23/2022 6:24:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NULL,
	[Password] [nvarchar](max) NULL,
	[DateRegistered] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[Type] [int] NULL,
	[IsPrevent] [int] NULL,
	[IsDeleted] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActionLog]    Script Date: 3/23/2022 6:24:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAccount] [int] NULL,
	[DateLogin] [datetime] NULL,
 CONSTRAINT [PK_ActionLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataLink]    Script Date: 3/23/2022 6:24:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataLink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAccount] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[DateUpdated] [datetime] NULL,
	[IsDeleted] [int] NULL,
 CONSTRAINT [PK_DataLink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [UserName], [Password], [DateRegistered], [DateUpdated], [Type], [IsPrevent], [IsDeleted]) VALUES (1, N'admin', N'@Csehoilamgi1', NULL, NULL, 0, NULL, 0)
INSERT [dbo].[Account] ([Id], [UserName], [Password], [DateRegistered], [DateUpdated], [Type], [IsPrevent], [IsDeleted]) VALUES (2, N'user113', N'12345', CAST(N'2022-03-21T00:00:00.000' AS DateTime), NULL, 1, NULL, 0)
INSERT [dbo].[Account] ([Id], [UserName], [Password], [DateRegistered], [DateUpdated], [Type], [IsPrevent], [IsDeleted]) VALUES (5, N'ch1201063@gm.uit.edu.vn', N'apsara123', CAST(N'2022-03-23T13:20:11.143' AS DateTime), NULL, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[ActionLog] ON 

INSERT [dbo].[ActionLog] ([Id], [IdAccount], [DateLogin]) VALUES (1, 2, CAST(N'2022-03-23T13:34:28.683' AS DateTime))
INSERT [dbo].[ActionLog] ([Id], [IdAccount], [DateLogin]) VALUES (2, 2, CAST(N'2022-03-23T13:39:27.887' AS DateTime))
INSERT [dbo].[ActionLog] ([Id], [IdAccount], [DateLogin]) VALUES (3, 2, CAST(N'2022-03-23T13:40:30.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[ActionLog] OFF
SET IDENTITY_INSERT [dbo].[DataLink] ON 

INSERT [dbo].[DataLink] ([Id], [IdAccount], [Title], [Link], [DateUpdated], [IsDeleted]) VALUES (1, 2, N'21 Vòng lặp while trong Kotlin', N'https://www.youtube.com/watch?v=e6pZ9Zi_XJA&list=PLmEUE4MG8_b4FTcScxHuXNRTBOxaiqcVX&index=22', CAST(N'2022-03-23T16:26:39.127' AS DateTime), 1)
INSERT [dbo].[DataLink] ([Id], [IdAccount], [Title], [Link], [DateUpdated], [IsDeleted]) VALUES (2, 2, N'22 Vòng lặp do while trong Kotlin', N'https://www.youtube.com/watch?v=Xyq_6ZNCSx8&list=PLmEUE4MG8_b4FTcScxHuXNRTBOxaiqcVX&index=23', CAST(N'2022-03-23T16:26:38.637' AS DateTime), 1)
INSERT [dbo].[DataLink] ([Id], [IdAccount], [Title], [Link], [DateUpdated], [IsDeleted]) VALUES (3, 2, N'Chu Du và Nỗi Oan Ngàn Năm " TRỜI SINH DU SAO CÒN SINH LƯỢNG"', N'https://www.youtube.com/watch?v=E-6mkea729o', CAST(N'2022-03-23T17:01:28.110' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DataLink] OFF
ALTER TABLE [dbo].[ActionLog]  WITH CHECK ADD  CONSTRAINT [FK_ActionLog_Account] FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[ActionLog] CHECK CONSTRAINT [FK_ActionLog_Account]
GO
ALTER TABLE [dbo].[DataLink]  WITH CHECK ADD  CONSTRAINT [FK_DataLink_Account] FOREIGN KEY([IdAccount])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[DataLink] CHECK CONSTRAINT [FK_DataLink_Account]
GO
/****** Object:  StoredProcedure [dbo].[GetCurrentTimeOnServer]    Script Date: 3/23/2022 6:24:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetCurrentTimeOnServer]
as
select GETDATE ( ) as CurrentTime
GO
USE [master]
GO
