<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apsara.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SwitchNetConfig.Properties.Settings.DbApsaraConnectionString"
            connectionString="Data Source=[your server];Initial Catalog=[your database];Persist Security Info=True;User ID=[your user];Password=[your password]"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Apsara.Properties.Settings>
            <setting name="DbApsaraConnectionString" serializeAs="String">
                <value />
            </setting>
        </Apsara.Properties.Settings>
    </userSettings>
</configuration>