<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SwitchNetConfig.Properties.Settings.DbApsaraConnectionString"
            connectionString="Data Source=[your server];Initial Catalog=[your database];Persist Security Info=True;User ID=[your user];Password=[your password]"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>